<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/choice.css" />
    <title>AlAmal</title>
  </head>
  <body>
    <div class="main-container">
      <div class="maternelle-container">
        <div class="title-and-texts">
          <h1>Maternelle</h1>
          <p>
            L'école maternelle est une école qui accueille des trés jeunes
            enfants pour les préparer aux apprentissages fondamentaux de la
            lecture, de l'écriture et du calcul. C'est une période préparatoire
            a l'enseignement élémentaire.
          </p>
          <button class="choice-btn" value="children">Voir la list</button>
        </div>
        <div class="img-container">
          <img src="/images/rawd2.jpg" alt="maternelle-students" />
        </div>
      </div>

      <div class="cours-de-soutien-container">
        <div class="title-and-texts">
          <h1>Cours de soutien</h1>
          <p>
            Depuis plus de 10 ans, les professeurs particuliers soutien scolaire
            sur AL-AMAL vous accompagnent pour atteindre vos objectifs. Que vous
            soyes enfant, adulte, débutant ou professionnel.
          </p>
          <button class="choice-btn" value="adults">Voir la list</button>
        </div>
        <div class="img-container">
          <img src="/images/swaye3.jpg" alt="cours-de-soutien-students" />
        </div>
      </div>
    </div>
    <script src="js/choice.js"></script>
  </body>
</html>
