* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manropeFont/Manrope-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manropeFont/Manrope-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manropeFont/Manrope-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manropeFont/Manrope-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manropeFont/Manrope-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/manropeFont/Manrope-Black.ttf") format("truetype");
  font-weight: 900;
}

:root {
  --primary--: #8c2bee;
  --background-light--: #f7f6f8;
  --background-dark--: #0e0c12;
  --surface-dark--: #16131a;
  --nice--grey--: #686868;
}
body {
  background-color: black;
  color: white;
  font-family: "Manrope";
}

.student-card {
  background-color: var(--surface-dark--);
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  font-size: 0.9rem;
  border-radius: 10px;
}
.image-container,
.image-name-container {
  display: flex;
}
.image-name-container {
  align-items: center;
  gap: 10px;
}
img {
  width: 50px;

  border-radius: 50%;
  border: 2px solid var(--primary--);
}
.student-name {
  font-weight: 800;
}
.num-tele,
.keys {
  color: var(--nice--grey--);
  font-size: 0.87rem;
  letter-spacing: 0.5px;
}
.progress-bar {
  width: 100%;
  background-color: #8c2bee;
  height: 8px;
  border: none;
  border-radius: 15px;
}
.infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment-deadline {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
